apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaUser
metadata:
  name: event-consumer
  labels:
    strimzi.io/cluster: '{{ kafka_cluster_name }}'
  namespace: '{{ cluster_project }}'
spec:
  authentication:
    type: scram-sha-512
  authorization:
    type: simple
    acls:
      # Example consumer Acls for topic my-topic suing consumer group my-group
      - resource:
          type: topic
          name: events
          patternType: literal
        operation: Read
        host: "*"
      - resource:
          type: topic
          name: events
          patternType: literal
        operation: Describe
        host: "*"
      - resource:
          type: group
          name: eventconsumer_group
          patternType: literal
        operation: Read
        host: "*"
      # Example Producer Acls for topic my-topic
      - resource:
          type: topic
          name: events
          patternType: literal
        operation: Write
        host: "*"
      - resource:
          type: topic
          name: events
          patternType: literal
        operation: Describe
        host: "*"
