---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: 3scale-project-group
  namespace: '{{ threescale_project }}'
spec:
  targetNamespaces:
  - '{{ threescale_project }}'
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    operators.coreos.com/3scale-operator.3scale-project: ""
  name: 3scale-operator
  namespace: '{{ threescale_project }}'
spec:
  channel: threescale-2.11
  installPlanApproval: Automatic
  name: 3scale-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace
