apiVersion: apps.3scale.net/v1alpha1
kind: APIManager
metadata:
  name: example-apimanager
  namespace: '{{ threescale_project }}'
spec:
  wildcardDomain: 'apps.{{ domain }}'
  resourceRequirementsEnabled: false
  system:
    fileStorage:
      simpleStorageService:
        configurationSecretRef:
          name: s3-auth
