apiVersion: capabilities.3scale.net/v1beta1
kind: Backend
metadata:
  name: salesforce-webhook-ingestor-backend
  namespace: '{{ threescale_project }}'
spec:
  mappingRules:
    - httpMethod: POST
      increment: 1
      metricMethodRef: hits
      pattern: /
  metrics:
    hits:
      description: Number of API hits
      friendlyName: Hits
      unit: hit
  name: Salesforce Webhook Ingestor
  privateBaseURL: 'http://istio-ingressgateway.istio-system:80'
  systemName: salesforce-webhook-ingestor-backend
