apiVersion: capabilities.3scale.net/v1beta1
kind: Product
metadata:
  name: salesforce-webhook-ingestor-product
  namespace: '{{ threescale_project }}'
spec:
  description: Product to expose salesforce-webhook API
  mappingRules:
    - httpMethod: POST
      increment: 1
      metricMethodRef: hits
      pattern: /
  metrics:
    hits:
      description: Number of API hits
      friendlyName: Hits
      unit: hit
  applicationPlans:
      basic-plan:
        name: basic plan
        appsRequireApproval: false    
  name: Salesforce Webhook Ingestor Product
  policies:
    - configuration: {}
      enabled: true
      name: apicast
      version: builtin
  systemName: salesforce-webhook-ingestor-product
  backendUsages:
    salesforce-webhook-ingestor-backend:
      path: /
