kind: Service
apiVersion: serving.knative.dev/v1
metadata:
  name: one-tap-soccer-event-consumer
  namespace: '{{ cluster_project }}'
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/min-scale: '0'
        autoscaling.knative.dev/target: "100"
        autoscaling.knative.dev/targetUtilizationPercentage: "70"
        autoscaling.knative.dev/window: 60s
      creationTimestamp: null
      labels:
        app: one-tap-soccer-event-consumer
        app.kubernetes.io/component: one-tap-soccer-event-consumer
        app.kubernetes.io/instance: one-tap-soccer-event-consumer
        app.kubernetes.io/name: one-tap-soccer-event-consumer
        app.kubernetes.io/part-of: strimzi-kafka-cluster
        app.openshift.io/runtime: one-tap-soccer-event-consumer
        app.openshift.io/runtime-namespace: kafka-cluster
        app.openshift.io/runtime-version: latest
        app.openshift.io/runtime: quarkus
    spec:
      containerConcurrency: 0
      containers:
      - image: quay.io/vflorent/one-tap-soccer-event-consumer-native:latest
        imagePullPolicy: Always
        name: one-tap-soccer-event-consumer
        env:
        - name: kafka.bootstrap.servers
          value: {{ kafka_cluster_name }}-kafka-bootstrap:9092
        - name: kafka.user
          value: event-consumer
        - name: kafka.pwd
          value: jPLFHwedKYvu
        ports:
        - containerPort: 8080
          protocol: TCP
        readinessProbe:
          successThreshold: 1
          tcpSocket:
            port: 0
        resources: {}
      enableServiceLinks: false
      timeoutSeconds: 300
  traffic:
  - latestRevision: true
    percent: 100

