kind: Service
apiVersion: serving.knative.dev/v1
metadata:
  name: one-tap-soccer
  namespace: '{{ cluster_project }}'
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/min-scale: '1'
        autoscaling.knative.dev/target: "100"
        autoscaling.knative.dev/targetUtilizationPercentage: "70"
        autoscaling.knative.dev/window: 60s
      creationTimestamp: null
      labels:
        app: one-tap-soccer
        app.kubernetes.io/component: one-tap-soccer
        app.kubernetes.io/instance: one-tap-soccer
        app.kubernetes.io/name: one-tap-soccer
        app.kubernetes.io/part-of: strimzi-{{ cluster_project }}
        app.openshift.io/runtime: one-tap-soccer
        app.openshift.io/runtime-namespace: {{ cluster_project }}
        app.openshift.io/runtime-version: latest
spec:
  replicas: 1
  selector:
    matchLabels:
      app: one-tap-soccer
  template:
    metadata:
      labels:
        app: one-tap-soccer
        deploymentconfig: one-tap-soccer
        app.openshift.io/runtime: nginx
    spec:
      containerConcurrency: 0
      containers:
      - image: quay.io/vflorent/one-tap-soccer:v2
        ports:
          - containerPort: 8080
            protocol: TCP
        imagePullPolicy: Always
        name: one-tap-soccer-event-consumer
        readinessProbe:
          successThreshold: 1
          tcpSocket:
            port: 0
        resources: {}
      enableServiceLinks: false
      timeoutSeconds: 300
  traffic:
  - latestRevision: true
    percent: 100
