kind: Deployment
apiVersion: apps/v1
metadata:
  name: one-tap-soccer
  namespace: '{{ cluster_project }}'
  labels:
    app: one-tap-soccer
    app.kubernetes.io/component: one-tap-soccer
    app.kubernetes.io/instance: one-tap-soccer
    app.kubernetes.io/name: one-tap-soccer
    app.openshift.io/runtime: java
spec:
  replicas: 1
  selector:
    matchLabels:
      app: one-tap-soccer
  template:
    metadata:
      labels:
        app: one-tap-soccer
        deploymentconfig: one-tap-soccer
    spec:
      containers:
        - name: one-tap-soccer
          image: quay.io/vflorent/one-tap-soccer:latest
          ports:
            - containerPort: 8080
              protocol: TCP
          imagePullPolicy: Always
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
---
kind: Service
apiVersion: v1
metadata:
  name: one-tap-soccer
  namespace: '{{ cluster_project }}'
  labels:
    app: one-tap-soccer
    app.kubernetes.io/component: one-tap-soccer
    app.kubernetes.io/instance: one-tap-soccer
    app.kubernetes.io/name: one-tap-soccer
    app.kubernetes.io/part-of: one-tap-soccer
    app.openshift.io/runtime-version: latest
spec:
  ipFamilies:
    - IPv4
  ports:
    - name: 8080-tcp
      protocol: TCP
      port: 8080
      targetPort: 8080
  internalTrafficPolicy: Cluster
  type: ClusterIP
  ipFamilyPolicy: SingleStack
  sessionAffinity: None
  selector:
    app: one-tap-soccer
    deploymentconfig: one-tap-soccer
---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: one-tap-soccer
  namespace: '{{ cluster_project }}'
  labels:
    app: one-tap-soccer
    app.kubernetes.io/component: one-tap-soccer
    app.kubernetes.io/instance: one-tap-soccer
    app.kubernetes.io/name: one-tap-soccer
    app.kubernetes.io/part-of: one-tap-soccer
    app.openshift.io/runtime-version: latest
spec:
  to:
    kind: Service
    name: one-tap-soccer
    weight: 100
  port:
    targetPort: 8080-tcp
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None
